body {
    padding: 7rem;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

thead, tfoot {
    background: #333;
    color: white;
}

td,th {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even){
    background: #837d7d;
}